<title>Shared Todo App </title>
<div class="container">
  <div class="row">
    <div class="span4">
      <h1>Shared Todo App</h1>
      <hr>
      <p>All your todos here</p>
        <%= form_for @todo, :url => { :action => "add" }  do |t|  %>
          <%= t.text_field  :todo_item %>
          <%= t.submit "Add todo", class: "btn btn-primary" %>
       <%end%>


          <% if !flash[:error].nil? %>
            <div class="alert alert-error">
             <button type="button" class="close" data-dismiss="alert">×</button>
             <strong><%= flash[:error] %></strong>
            </div>
          <% end %>

          <% if !flash[:success].nil? %>
           <div class="alert alert-success">
             <button type="button" class="close" data-dismiss="alert">×</button>
                 <strong><%= flash[:success] %></strong>
            </div>
          <% end %>



      <div class="well">
        <% @todo_items.each do |t| %>
         <li> <%= t.todo_item %> </li>
        <% end %>
      </div> <!-- well -->
    </div> <!-- span4 -->
  </div> <!-- row -->
</div> <!-- container -->
